@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Siemreap&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Siemreap", sans-serif;
}
nav{
    width: 100%;
    height: 50px;
    
    background-color: white;
}
ul{
    list-style-type: none;
}
.navigation{
 width: 95%;
 height: 50px;
 background-color: #dbdbdb;
 margin: auto;
 display: flex;
 
}
.left{
    width: 35%;
    height: 100%;
    
}
.center{
    width: 20%;
    height: 80%;
    display: flex;
    padding: 10px 0;
    justify-content: end;
}
.right{
    width: 40%;
    height: 100%;
    
}
.left > ul{
    gap: 15px;
    display: flex;
}
.left ul{
    height: 100%;
    display: flex;
    padding: 0 15px;
    align-items: center;

}
.left ul li{
    height: 100%;
    display: flex;
    padding: 0 15px;
    place-items: center;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;

}
.left ul li:hover{
    background-color: #dbdbdb;
}
.right ul{
display: flex;
gap: 15px;
justify-content: end;
align-items: center;
height: 100%;

}
.right ul li{
    text-transform: uppercase;
    padding: 0 10px;
    display: flex;
    align-items: center;
    height: 100%;
    font-weight: bold;
}


