@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Siemreap&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Siemreap", sans-serif;
}
nav {
  width: 100%;
  height: 50px;
  background-color: white;
}
ul {
  list-style-type: none;
}
.navigation {
  width: 90%;
  height: 50px;
  margin: auto;
  display: flex;
}

.left {
  width: 35%;
  height: 100%;
}
.center {
  width: 20%;
  height: 80%;
  display: flex;
  padding: 10px 0;
  margin-top: 6px;
  justify-content: end;
}
.right {
  width: 45%;
  height: 100%;
}
.left > ul {
  gap: 5px;
  display: flex;
}
.left ul {
  height: 100%;
  display: flex;
  padding: 0 15px;
  align-items: center;
}
.left ul li {
  height: 100%;
  display: flex;
  padding: 0 15px;
  place-items: center;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}
.left ul li:hover {
  background-color: #dbdbdb;
}
.right ul {
  display: flex;
  gap: 10px;
  justify-content: end;
  align-items: center;
  height: 100%;
}
.right ul li {
  text-transform: uppercase;
  place-items: center;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 15px;
}
.right ul li i {
  margin-right: auto;
  display: flex;
  width: 40px;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.right ul li i:hover {
  background-color: #dbdbdb;
}
.bnt-search {
  display: flex;
  align-items: center;
  height: 75%;
  width: 150px;
  padding-left: 15px;
  border: 2px solid black;
  border-radius: 5px;
}
.bnt-search input {
  height: 100%;
  width: 75%;
  outline: none;
  border: none;
  background-color: transparent;
}
.bnt-search i {
  width: 25%;
}
.right ul li:hover:first-child {
  background-color: transparent;
}
.bnt-search i:hover:first-child {
  background-color: transparent;
}
.slide {
  width: 90%;
  height: 600px;
  margin: auto;
  display: flex;
}
.images {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.slide1 {
  position: absolute;
  height: 30px;
  top: 80%;
}
.slide2 {
  position: absolute;
  height: 30px;
  top: 80%;
}
.slide1 button {
  gap: 20px;
  height: 30px;
  width: 150px;
  border-radius: 5px;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
  justify-content: center;
  border: 2px solid black;
  transition: transform 0.5s ease-in-out;
}
.slide1 button:hover {
  transform: translateY(-5px);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.brand {
  display: flex;
  margin: auto;
  width: 90%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}
.brand-images {
  width: 14.28%;
  height: 100%;
  position: relative;
}
.brand-images img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.lifestyle {
  margin: auto;
  width: 90%;
  height: 580px;
  display: flex;
  gap: 1%;
}
.lifestyle div {
  width: 32.66%;
  height: 100%;
}
.lifestyle div img {
  width: 100%;
  height: 100%;
}
.bottom-lifestyle {
  width: 90%;
  margin: auto;
  height: 590px;
  display: flex;
  margin-top: 20px;
  gap: 2%;
}
.bottom-lifestyle div {
  width: 49.5%;
  height: 100%;
}
.bottom-lifestyle div img {
  width: 100%;
  height: 100%;
}
.business-look {
  margin: auto;
  margin-top: 20px;
  width: 90%;
  height: 600px;
}
.phrase {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.phrase a {
  text-decoration: none;
  color: black;
}
.card{
  width: 100%;
  height: 90%;
  margin: auto;
  display: flex;
  gap: 2%;
}
.card div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-card{
  width: 24.5%;
  height: 100%;
}
.imaage{
  width: 100%;
  height: 75%;
}
.title{
  padding: 5px;
}
.titles{
  display: flex;
  justify-content: space-between;
}
.title-left{
  display: flex;
  gap: 10px;
}
.heng{
  color: red;
}
#heng{
  
  text-decoration: line-through;
}
.imaage{
  position: relative;
}
.image-card{
  position: relative;
}
.discount{
  width: 60px;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  left: 15px;
  border-radius: 5px;
}
.ten11{
  position: absolute;
  bottom: 3%;
  right: 0;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
.color{
  display: flex;
  gap: 15px;

}
.color li{
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 5px;
}
.color li:first-child{
  background-color: black;
}
.color li:last-child{
  background-color: white;
}